[submodule "E200_data"]
	path = E200_data
	url = ssh://git@localhost:7777/aard-pwfa/E200_data.git
[submodule "aux_functions/Butterfly"]
	path = aux_functions/ButterflyEmittancePython
	url = ssh://git@localhost:7777/joelfrederico/ButterflyEmittancePython.git
[submodule "aux_functions/FACET_Emittance"]
	path = aux_functions/FACET_Emittance
	url = ssh://git@localhost:7777/joelfrederico/FACET_Emittance.git
[submodule "aux_functions/E200_Cam_Energy_Cal"]
	path = aux_functions/E200_Cam_Energy_Cal
	url = ssh://git@localhost:7777/joelfrederico/E200_Cam_Energy_Cal.git
[submodule "aux_functions/MatlabScripts"]
	path = aux_functions/MatlabScripts
	url = ssh://git@localhost:7777/joelfrederico/MatlabScripts.git
